<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="Stride"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Stride">

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyCiHU_yjxoinFwMyrpkAgdOv9nV7FryZTk"/>

        <!-- Login Activity (Launcher) -->
        <activity
            android:name=".LoginActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- Splash Activity -->
        <activity
            android:name=".SplashActivity"
            android:exported="true"/>

        <!-- Main Activity (First Screen) -->
        <activity
            android:name=".RestaurantSelectionActivity"
            android:exported="true"/>

        <!-- Menu Activity -->
        <activity
            android:name=".MenuActivity"
            android:exported="false"/>

        <!-- Order Summary Activity -->
        <activity
            android:name=".OrderSummaryActivity"
            android:exported="false"/>

        <!-- Order Confirmation Activity -->
        <activity
            android:name=".OrderConfirmationActivity"
            android:exported="false"/>

        <!-- Order Tracking Activity -->
        <activity
            android:name=".OrderTrackingActivity"
            android:exported="false"/>

        <!-- Order History Activity -->
        <activity
            android:name=".OrderHistoryActivity"
            android:exported="false"/>

        <!-- Order Details Activity -->
        <activity
            android:name=".OrderDetailsActivity"
            android:exported="false"/>

        <!-- Profile Activity -->
        <activity
            android:name=".ProfileActivity"
            android:exported="false"/>

        <activity
            android:name=".EmailAuthActivity"
            android:exported="false"/>

    </application>

</manifest>
